body {
  background-color: bisque;
  color: blue;
}

.form {
  box-sizing: border-box;
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-row-gap: 10px;
  grid-column-gap: 2px;
  margin-left: 50px;
}

.form__input {
  box-sizing: border-box;
  width: 50px;
  justify-self: end;
  font-size: 30px;
  text-align: center;
}
::placeholder {
  font-size: 16px;
  opacity: 0.2;
}
.form__label {
  color: black;
  margin-left: 10px;
  justify-self: end;
}
.btn {
  grid-column: 1/5;
}
.list-zakaz {
  list-style-type: square;
  font-size: 20px;
  color: black;
}
